<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <netTcpBinding>
            <binding name="DefaultBinding" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="1677721600" maxBufferSize="1677721600" maxReceivedMessageSize="1677721600">
              <readerQuotas maxDepth="100" maxStringContentLength="1677721600" maxArrayLength="1677721600" maxBytesPerRead="1677721600" maxNameTableCharCount="32384" />
              <security mode="None">
                <transport clientCredentialType="None" protectionLevel="None" />
                <message clientCredentialType="None" />
              </security>
            </binding>
          </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/DMS" binding="netTcpBinding"
                bindingConfiguration="DefaultBinding"
                contract="ServiceReference.IDownloadManagerService" name="DownloadManagerServiceEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>